<div class="container text-center">
  <h1><%= "Voici le restaurant : #{@restaurant.name}" %></h1>
<div class="d-flex flex-wrap">
  <div class="card m-1" style="width: 18rem;">
    <img class="card-img-top" src=<%= @restaurant.image_url %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @restaurant.name %></h5>
      <p class="card-text"><%= @restaurant.description %></p>
      <%= link_to "Revenir a la liste !", restaurants_path(@restaurant), class:"btn btn-primary button" %></a>
  </div>
</div>
</div>
<ul>
<% @reviews.each do |r| %>
<li><%= r.content %></li>
<li><%= r.rating %></li>
<% end %>
</ul>
<%= link_to "Laisser un commentaire", new_restaurant_review_path(@restaurant), class:"btn btn-primary button" %>
</div>
